@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #1a1a2e;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Muli', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.7); /* Ajuste inicial para mejor escalado */
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px; /* Reducido para mejor ajuste en pantallas más pequeñas */
}

.number {
    position: relative;
    height: 290px;
    width: 170px;
    margin: 20px;
}

.piece {
    background-color: #e94560;
    border: 2px solid transparent;
    border-right-color: #0f3460;
    border-bottom-color: #0f3460;
    position: absolute;
    height: 50px;
    width: 50px;
    transform: scale(0);
}

.piece.show {
    transform: scale(1);
    transition: transform 0.2s linear;
}

.piece:nth-of-type(1) { top: 0; left: 0; }
.piece:nth-of-type(2) { top: 0; left: 60px; }
.piece:nth-of-type(3) { top: 0; left: 120px; }
.piece:nth-of-type(4) { top: 60px; left: 0; }
.piece:nth-of-type(5) { top: 60px; left: 120px; }
.piece:nth-of-type(6) { top: 120px; left: 0; }
.piece:nth-of-type(7) { top: 120px; left: 60px; }
.piece:nth-of-type(8) { top: 120px; left: 120px; }
.piece:nth-of-type(9) { top: 180px; left: 0px; }
.piece:nth-of-type(10) { top: 180px; left: 120px; }
.piece:nth-of-type(11) { top: 240px; left: 0px; }
.piece:nth-of-type(12) { top: 240px; left: 60px; }
.piece:nth-of-type(13) { top: 240px; left: 120px; }


#period .period {
    font-family: 'Muli', sans-serif;
    font-size: 18rem;
    color: #e94560;
    margin-top: 20px;
  }
  

@media screen and (max-width: 800px) {
    .container {
        transform: scale(0.5);
    }
}

@media screen and (max-width: 768px) {
    .container {
        transform: scale(0.4);
        flex-direction: column; /* Apila los números en una columna */
    }
    .flex {
        margin: 10px 0; /* Espaciado ajustado para columna */
    }
    .number {
        margin: 10px;
    }
}

@media screen and (max-width: 550px) {
    .container {
        transform: scale(0.3);
    }
}

@media screen and (max-width: 390px) {
    .container {
        transform: scale(0.2);
        flex-direction: column; /* Asegura que se apilen verticalmente */
    }
    .flex {
        margin: 5px 0; /* Espaciado ajustado para columna */
    }
    .number {
        margin: 5px;
    }
}
